[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=ms
Group=ms
WorkingDirectory=/home/ms/app/src/
Environment="PATH=/home/ms/app/venv/bin"
EnvironmentFile=/home/ms/.env
ExecStart=/home/ms/app/venv/bin/gunicorn -w 3 -k uvicorn.workers.UvicornWorker main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
